<!DOCTYPE html>
<html lang="en">
<head>
    <title>Get Popularity</title>
</head>
<body>
    <h1>
        <div id="header">
    <p>Liu Shuaitong</p ><p>Student ID: [76015]</p ><p>Zhang Sixuan</p ><p>Student ID: [76019]</p >

</div>
    </h1>

    <form action="/popular_words" method="GET">
        <label for="city">city name：</label>
        <input type="text" id="city" name="city" ><br><br>
        <label for="limit">limitNum：</label>
        <input type="text" id="limit" name="limit" ><br><br>
        <input type="submit" value="submit">

    </form>
</body>
</html>